---
import Layout from '../layouts/Layout.astro';
---

<Layout title="stelladb">
    <div class="center">
        <h1>a lazy stella sora database</h1>
        <p>cloudflare dead bruh</p>
    </div>

    <a class="nazuna" href="/character/156"></a>

    <footer>
        <p>read if cute and funny • <a href="https://github.com/AutumnVN/stelladb">source code</a></p>
    </footer>
</Layout>

<style>
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 2 * var(--nav-height));
    }

    .center h1 {
        margin: 1rem;
        font-size: 4rem;
    }

    .center p {
        margin: 0.5rem;
        font-size: 1.5rem;
    }

    .nazuna {
        background: url('https://chino.is-a.dev/cdn-cgi/image/format=avif/https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/Assets/assetbundles/icon/head/head_15601_Q.png') center/cover no-repeat;
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        width: 256px;
        height: 256px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--muted);
        height: var(--nav-height);
    }
</style>
